include ../base/_variables
include ../base/_mixins
doctype
html(lang="en")
  head

    meta(charset="UTF-8")

    +line

    //Making sure the web-site will scale fine on mobiles
    meta(name="viewport" content="width=device-width, initial-scale=1")

    +line

    //Trying to force IE to perform at its best
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    +line

    //For SEO Optimization required.
    meta(name='description', content=description)
    meta(name='keywords', content=keywords)
    meta(name='author', content=author)

    +line

    meta(property='og:title', content=title)
    meta(property='og:image', content=logo_url)
    meta(property='og:description', content=description)

    +line

    meta(name='robots', content=robots)
    link(rel='canonical', href=canonical)

    +line

    meta(name="theme-color" content=ThemeColor)
    
    +line

    //Favicons
    link(rel='shortcut icon', href=favicon, type='image/x-icon')
    link(rel='icon', href=favicon, type='image/x-icon')

    +line
    
    include _top

    +line

    //Site Title
    title=title

  body

    include _header

    block content

    include _footer

    include _bottom
