+line
+line
meta(name='description', content=siteDescription)
meta(name='author', content=siteAuthor)
meta(name='classification', content=siteKeywords)
meta(name='copyright', content=siteCopyright)
meta(property='og:url', content=siteUrl)
meta(property='og:type', content='website')
meta(property='og:title', content=siteTitle)
meta(property='og:description', content=siteDescription)
meta(property='og:image', content=siteLogoUrl)
meta(property='og:site_name', content=siteTitle)
meta(property='og:locale', content=siteLanguage)
meta(property='article:author', content=siteTitle)

+line
+line
+c('Address Bar Color')
meta(name='theme-color', content=siteThemeColor)

+line
+line
+c('Robots')
meta(name='robots', content=siteRobots)
meta(name='googlebot', content=siteRobots)

+line
+line
+c('Favicons')

link(rel='shortcut icon', href=siteFavicon, type='image/x-icon')
link(rel='icon', href=siteFavicon, type='image/x-icon')
link(rel='apple-touch-icon', href=siteFavicon)
link(rel='mask-icon', href=siteFavicon, color=siteThemeColor)

+line
link(rel='canonical', href=siteUrl)
link(type='text/plain', rel='author', href=`${siteUrl}/humans.txt`)

+line
+line
