include ../base/_variables
include ../base/_mixins

- if (demo && minify) {
//
  * This is a premium product available exclusively at themeforest.net
  *
  * The demo files are minified/crypted for copyright reasons,
  * you will find them, expanded, well commented and
  * coded accurately in your download pack.
- } else {
  //

    Template;
      * Name	   	      : ThemeName
      * Created Date    : date
      * Version         : 0.0.1

    Author;
      * Gmail           : yasinatesim@gmail.com
      * Web Site        : http://www.yasinates.com

    ============================================================================================
             Copyright (c) 2017 - yasinatesim - https://themeforest.net/user/yasinatesim
    ============================================================================================
- }


doctype
html(lang="en")
  head

    meta(charset="UTF-8")

    +line

    //Making sure the web-site will scale fine on mobiles
    meta(name="viewport" content="width=device-width, initial-scale=1")

    +line

    //Trying to force IE to perform at its best
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    +line

    //Site Title
    title=title

    +line

    //For SEO Optimization required
    meta(name='description', content=description)
    meta(name='keywords', content=keywords)
    meta(name='author', content=author)

    +line

    //Favicons
    link(rel='shortcut icon', href=favicon, type='image/x-icon')
    link(rel='icon', href=favicon, type='image/x-icon')

    +line
    //Address Bar Color
    meta(name="theme-color" content=ThemeColor)
    
    +line
    
    include _top

  body
    
    //=============== Start Of Header ===============
    include _header
    //=============== End Of Header ===============
    
    block content

    //=============== Start Of Footer ===============
    include _footer
    //=============== End Of Footer ===============

    include _bottom
