include ../base/_variables
include ../base/_mixins

- if (demo) {
//
  =============================================================================

    * This is a premium product available exclusively at sitename.net
    * The demo files are minified/crypted for copyright reasons,
    * you will find them, expanded, well commented and
    * coded accurately in your download pack.
  
  =============================================================================
="\n"
- } else {
  //
    Template;
        * Name          : ThemeName
        * Created Date  : date
        * Version       : 0.0.1

    Author;
        * Gmail         : yasinatesim@gmail.com
        * Web Site      : http://www.yasinates.com

    ============================================================================================
            Copyright (c) 2017 - yasinatesim - https://sitename.net/user/yasinatesim
    ============================================================================================
- }


doctype
html(lang="en")
  head

    meta(charset="UTF-8")/

    +line

    +c('Making sure the web-site will scale fine on mobiles')
    meta(name="viewport" content="width=device-width, initial-scale=1")/

    +line
    

    +c('Trying to force IE to perform at its best')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")/

    +line    

    +c('Site Title')
    title=title

    +line   

    +c('For SEO Optimization required')
    meta(name='description', content=description)/
    meta(name='keywords', content=keywords)/
    meta(name='author', content=author)/

    +line    

    +c('Favicons')
    link(rel='shortcut icon', href=favicon, type='image/x-icon')/
    link(rel='icon', href=favicon, type='image/x-icon')/


    +line    

    +c('Address Bar Color')
    meta(name="theme-color" content=ThemeColor)/
    

    +line    
    
    include _top

  body
    

    +line

    +c('=============== Start Of Header ===============')
    include _header
    +c('=============== End Of Header ===============')
    

    +line
    
    block content

    +line

    +c('=============== Start Of Footer ===============')
    include _footer
    +c('=============== End Of Footer ===============')

    include _bottom
